<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:58:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver()[pri:0, instance:org.tests.LoginTests@4f638935]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:59:03</td>   <td>5361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver()[pri:0, instance:org.tests.LoginTests@4f638935]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:59:08</td>   <td>10526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver()[pri:0, instance:org.tests.HomePageTests@4387b79e]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:58:52</td>   <td>-5947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.driverInitialization()[pri:0, instance:org.tests.LoginTests@4f638935]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:58:59</td>   <td>901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.driverInitialization()[pri:0, instance:org.tests.LoginTests@4f638935]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/10/12 00:59:04</td>   <td>6005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.driverInitialization()[pri:0, instance:org.tests.HomePageTests@4387b79e]">&gt;&gt;driverInitialization</td> 
<td>&nbsp;</td>  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="b0b186">  <td>21/10/12 00:58:55</td>   <td>-2685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.test1()[pri:0, instance:org.tests.LoginTests@4f638935]">test1</td> 
  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="b0b186">  <td>21/10/12 00:59:01</td>   <td>3151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.test2()[pri:0, instance:org.tests.LoginTests@4f638935]">test2</td> 
  <td>main@1580297332</td>   <td></td> </tr>
<tr bgcolor="6498bf">  <td>21/10/12 00:59:06</td>   <td>8255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTests.test2()[pri:0, instance:org.tests.HomePageTests@4387b79e]">test2</td> 
  <td>main@1580297332</td>   <td></td> </tr>
</table>
